{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "plugins": [
    "promise"
  ],
  "rules": {
    "no-console": "off",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "objectsInObjects": true
      }
    ]
  }
}